<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/imgs/weather.png">
        <title>About Me</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/imgs/profile.jpg">
        </div>
        {{>footer}}
    </body>
</html>